<link rel="stylesheet" href="~/css/wow-theme.css" />

<div class="wow-interface-wrapper">
    <header class="wow-navbar">
    </header>

    <main class="container parchment-effect">
        @RenderBody()
    </main>

    <footer class="wow-action-bar">
    </footer>
</div>